* , body{
    background: #151C1A;
    font-family: Papyrus;
    font-style: normal;
    font-weight: normal;
   
    line-height: 47px;
    color: #FFFFFF;
  
}
/* img{
    display: grid;
    width: 100%;
} */
